/*-----general layout-----*/
* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	width: calc( 100vw - 17px );
	background-image: url(../img/bg-6.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.container {
	width: 70%;
	margin: 0 auto;
}
.txt-blue {
	color: #204E5F;
}
.txt-grey {
	color: #333333;
}
.bold {
	font-family: arial;
	font-weight: bold;
}
.regular {
	font-family: arial;
}
.btn-fill {
	background-color: #F35D59;
	color: #fff;
	font-size: 14px;
	padding: 10px 0;
	width: 70px;
	box-sizing: border-box;
	border: none;
	border-radius: 30px;
}
.btn-ghost {
	background-color: transparent;
	color: #F35D59;
	font-size: 14px;
	padding: 10px 0;
	width: 70px;
	box-sizing: border-box;
	border: 1px solid #F35D59;
	border-radius: 30px;
}
/*-----nav-bar-----*/
.header {
	margin-bottom: 70px;
}
.header .nav-bar {
	height: 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
	box-sizing: border-box;
}
.header .nav-bar .logo {
	height: 60px;
	width: 100px;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.header .nav-bar ul {
	list-style:none;
}
.header .nav-bar li {
	display: inline-block;
	margin-right: 45px;
}
.header .nav-bar ul li:last-child {
	margin-right: 0;
}
.header .nav-bar li a {
	font-size: 14px;
	text-decoration: none;
	padding-bottom:10px;
	border-bottom: 2px solid transparent;
}
.header .nav-bar li a.current {
	color: #F35D59;
	border-color: #F35D59;
}
.header .nav-bar li a:hover {
	color: #F35D59;
}
/*------dashboard table-------*/
table {
	width: 100%;
	background-color: #EDF7F5;
	border-radius: 50px;
	margin: 0 auto;
}
th {
	border-bottom: 1px solid #C4C4C4;
	font-size: 24px;
	padding: 30px 0;
	background-color: #a5c9c2;
}
th.title {
	border-radius: 50px 0 0 0;
}
th.action {
	border-radius: 0 50px 0 0;
}
td {
  padding: 15px 30px;
  text-align: left;
}
td.content {
	width: 40%;
}
td.title {
	font-size: 20px;
	width: 35%;
}
td.content {
	font-size: 14px;
}
td.action {
	width: 25%;
	text-align: center;
}
td.action button {
	margin-right: 15px;
}
/*-----footer-----*/
.footer {
	background-image: url(../img/bg-4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
}
.footer .container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer .follow-sec h6 {
	font-size: 18px;
	margin-bottom: 30px;
}
.footer .follow-sec .icons a {
	text-decoration: none;
}
.footer .follow-sec .icons img {
	width: 25px;
	margin-right: 15px;
}
.footer .copy-right p {
	font-size: 14px;
}